@charset "UTF-8";
img {
  max-width: 100%; }

strong {
  color: red; }

/*Título y textos de VIdeos*/
/*Justificado de los párrafos*/
/*Títulos*/
/*Subtítulos*/
/*Pie de las imágenes*/
/*Párrafos y poesías*/
.bordes {
  border-radius: 5px;
  border: solid 1px green;
  margin: 1px 1px 15px 1px;
  padding: 5px; }

* .nav__enlaces {
  padding: 1px;
  border-radius: 5px;
  border: 3px solid #808000;
  margin: 1px; }

.nav--textoArtEnl {
  font-size: 18px;
  color: white;
  background-color: #673D13; }

.nav--textoIndVidSus {
  font-size: 18px;
  color: white;
  background-color: #673D13; }

/*......QUITAR EL FONDO NAVEGADOR MENU-----------*/
.modificarBg {
  background-color: transparent !important; }

/* ------- MAPA, EACH Y BUCLE EN LOGOS DE REDES EN NAVEGADOR ------- */
/*---Bucle-----*/
/* -------EXTEND EN LOGOS DE REDES EN NAVEGADOR ------------*/
.navLogos, .nav--logoFace, .nav--logoInsta, .nav--logoTuit, .nav--logoWhat {
  padding: 10px;
  margin: 2px; }

.nav--logoFace {
  /*border: 3px solid #566EA7;*/ }

.nav--logoInsta {
  /*border: 3px solid #E84C67;*/ }

.nav--logoTuit {
  /*border: 3px solid #2BB2E1;*/ }

.nav--logoWhat {
  /*border: 3px solid #2CA638;*/ }

/* ----- MIXIN EN  TÍTULOS (h2), SUBTÍTULOS (h3) Y PIE DE IMAGENES (h4)---*/
h2 {
  font-size: 30px;
  font-style: italic;
  color: #006666; }

h3 {
  font-size: 20px;
  font-style: italic;
  color: #006666; }

h4 {
  font-size: 13px;
  font-style: italic;
  color: #006666; }

pre {
  font-size: 14px;
  font-style: italic; }

p {
  font-size: 14px;
  text-align: justify; }

/*---------------TEXTO VIDEO--------------*/
h5 {
  font-size: 30px;
  font-style: italic;
  color: #006666;
  font-family: "Lobster Two", cursive; }

.articuloVideo {
  font-family: "Lobster Two", cursive;
  color: #006666;
  font-size: 18px; }

/*------------- ALINEADO INTERIOR DE CONTENEDORES ---------*/
/*---Todas las paginas---*/
.alineadoArticulos {
  text-align: center;
  margin: 8px;
  background-color: #F2EFEA;
  border-radius: 20px;
  box-shadow: 5px 5px 2px #999;
  padding: 15px; }

.alineadoEnlacesDeInteres {
  text-align: center;
  margin: 10px;
  background-color: #F2EFEA;
  border-radius: 20px;
  box-shadow: 5px 5px 2px #999;
  padding: 20px; }

.alineadoPaginaArticulos {
  text-align: center;
  margin: 20px;
  background-color: #F2EFEA;
  border-radius: 20px;
  box-shadow: 5px 5px 2px #999;
  padding: 15px; }

.alineadoFooter {
  text-align: center;
  margin: 10px;
  padding: 40px;
  color: white;
  background-color: #673D13; }

.alineadoEncabezado {
  text-align: center;
  background-color: #673D13;
  margin: 3px; }

.alineadoFecha {
  text-align: center;
  background-color: #673D13;
  margin: 3px;
  color: white;
  padding: 15px; }

/*------cambio en los links---*/
a:hover {
  font-size: 20px;
  color: red; }

a {
  outline: none;
  text-decoration: none;
  color: #006666; }

/*----------------- PÁGINA SUSCRIPCIÓN -----------*/
.magnitud {
  transition: all 2s; }

.magnitud:focus {
  width: 200px;
  height: 30px;
  font-size: 25px; }

/*-----------ANIMACIÓN PÁGINA ENLACES DE INTERÉS ------------*/
.libroAnimado {
  animation-duration: 8s;
  animation-fill-mode: both; }

@keyframes libroAnimado {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }

.libroAnimado {
  animation-name: libroAnimado; }

/*----------  PÁGINA ENLACES DE INTERÉS ------------*/
.estiloEnlaces {
  font-family: "Comic Sans MS", sans-serif;
  font-size: 16px;
  color: #006666;
  text-align: left; }

ol li {
  display: block;
  margin: 0px;
  padding: 0px;
  color: green; }

.otroColor {
  color: #42DE42; }

.colorFondo {
  background-color: #DEFEDE; }

.alineado {
  text-align: center; }

/*.bordes {
    border-radius: 5px;
    border: solid 1px green;
    margin: 1px 1px 15px 1px;
    padding: 5px;
}*/
/* --------------- TODAS LAS PAGINAS --------------------------*/
.centrarDebajoParrafo {
  text-align: center;
  font-style: normal;
  font-size: 14px; }

/* ---------SUSCRIPCION----------------------*/
.nombre {
  border-color: black;
  border-width: 3px;
  border-style: solid;
  border-radius: 20px;
  color: black;
  background: none; }

/*------------ARTICULOS----------------*/
/*body {
  padding-top: 2rem;
  padding-bottom: 2rem;
}*/
/*h3 {
  margin-top: 2rem;
}*/
/*.row {
  margin-bottom: 1rem;
}*/
/*.row .row {
  margin-top: 1rem;
  margin-bottom: 0;
}*/
/*[class*="col-"] {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgba(86,61,124,.15);
  border: 1px solid rgba(86,61,124,.2);
}*/
/*hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}*/
