$colorTextoTitulos:#006666;

$fontVideo:'Lobster Two', cursive; /*Título y textos de VIdeos*/

$justificado:justify; /*Justificado de los párrafos*/

$sizeh2:30px; /*Títulos*/
$sizeh3:20px; /*Subtítulos*/
$sizeh4:13px; /*Pie de las imágenes*/
$sizePreP:14px; /*Párrafos y poesías*/

$styleTitulos:italic;



